# Databases/Datasets
data/
*.zip
*.csv
*.db
*.sqlite
*.sqlite3

# Distribution/packaging
*.egg-info/
dist/
build/

# Byte-compiled/cache
__pycache__/
.pytest_cache/
*.py[cod]
*.pyo
*.pyd
*.npy
*.joblib

# SQLite journaling files
*-journal
*-shm
*-wal
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal

# Jupyter Notebook
.ipynb_checkpoints/

# JupyterLab workspace 
*.jupyterlab-workspace
.jupyter/lab/workspaces/
.ipynb_checkpoints/

# Virtual environments
.capstone/
capstone/
venv/
.env/
.venv/
env/
ENV/

# Local development
*.bak
*.log
*.patch
*.joblib
*.yml~
*.py~
docs/
out/
prototype/
test/
tools/

